pipeline/ARC_Master_Demo.json
{
	"name": "ARC_Master_Demo",
	"properties": {
		"activities": [
			{
				"name": "ac_Create_BatchHeader",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Create_BatchHeader]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ac_Create_BatchDetail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ac_Create_BatchHeader",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Create_BatchDetail]",
						"storedProcedureParameters": {
							"pBHID": {
								"type": "Int32",
								"value": {
									"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
									"type": "Expression"
								}
							},
							"pPBDID": {
								"type": "Int32",
								"value": "0"
							},
							"pPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "exec_ARC_DEMO1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ac_Create_BatchDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ARC_DEMO_1",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BHID": {
							"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
							"type": "Expression"
						},
						"PBDID": {
							"value": "@activity('ac_Create_BatchDetail').output.firstRow.BDID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Finish_BatchDetail",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "exec_ARC_DEMO1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "exec_ARC_DEMO2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Finish_BatchDetail]",
						"storedProcedureParameters": {
							"pBDID": {
								"type": "Int32",
								"value": {
									"value": "@activity('ac_Create_BatchDetail').output.firstRow.BDID",
									"type": "Expression"
								}
							},
							"pBHID": {
								"type": "Int32",
								"value": {
									"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
									"type": "Expression"
								}
							},
							"pPBDID": {
								"type": "Int32",
								"value": "0"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Finish_BatchHeader",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Finish_BatchDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Finish_BatchHeader]",
						"storedProcedureParameters": {
							"pBHID": {
								"type": "Int32",
								"value": {
									"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "exec_ARC_DEMO2",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ac_Create_BatchDetail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ARC_DEMO_2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BHID": {
							"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
							"type": "Expression"
						},
						"PBDID": {
							"value": "@activity('ac_Create_BatchDetail').output.firstRow.BDID",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sendMailFail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "exec_ARC_DEMO2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SendGridPipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"DataFactoryName": {
							"value": "@pipeline().DataFactory",
							"type": "Expression"
						},
						"PipelineName": "ARC_DEMO_2",
						"ErrorMessage": {
							"value": "@activity('exec_ARC_DEMO2').error.message",
							"type": "Expression"
						},
						"PBDID": {
							"value": "@activity('ac_Create_BatchDetail').output.firstRow.BDID",
							"type": "Expression"
						},
						"BHID": {
							"value": "@activity('ac_Create_BatchHeader').output.firstRow.BHID",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}