pipeline/File_Validation_Master.json
{
	"name": "File_Validation_Master",
	"properties": {
		"description": "File_Validation_Master",
		"activities": [
			{
				"name": "Create Batch Id",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[create_batch_id]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GetFileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Create Batch Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "StagingFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Iterate over each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFileNames').output.childitems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "File validation pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "File_Validation",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pFileName": {
										"value": "item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}