pipeline/File_Validation.json
{
	"name": "File_Validation",
	"properties": {
		"description": "validates files then accepts or rejects them",
		"activities": [
			{
				"name": "Duplicate File CHeck",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[fv_duplicate_file_chec]",
						"storedProcedureParameters": {
							"pfile_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.pFileName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "FileExistsCheck",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Duplicate File CHeck",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Duplicate File CHeck').output.firstRow.a,'not exists')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Update File Status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[fv_insert_Update_Tracking]",
								"storedProcedureParameters": {
									"pBatchid": {
										"value": {
											"value": "@pipeline().parameters.pBatchId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pFileName": {
										"value": {
											"value": "@pipeline().parameters.pFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"pReason": {
										"value": "File with same name already loaded",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_light",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pFileName": {
				"type": "string",
				"defaultValue": "abc"
			},
			"pBatchId": {
				"type": "string",
				"defaultValue": "23"
			}
		},
		"annotations": []
	}
}