pipeline/File_Structure_Validation.json
{
	"name": "File_Structure_Validation",
	"properties": {
		"activities": [
			{
				"name": "fileStructureiterate",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pInvokedFileStructure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExtractFileStructure",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileStructure",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "database_structure_iterate",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.pDatabaseStructure",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ExtractDatabaseStructure",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vDatabaseStructure",
								"value": {
									"value": "@item().columnname",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "CreateConcatenatedStringFileStructure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fileStructureiterate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStringFileStructure",
					"value": {
						"value": "@join(variables('vFileStructure'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CreateConcatenatedStringDatabaseStructure",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "database_structure_iterate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStringDatabaseStructure",
					"value": {
						"value": "@join(variables('vDatabaseStructure'),'|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CompareStructureStrings",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CreateConcatenatedStringFileStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "CreateConcatenatedStringDatabaseStructure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nvariables('vStringDatabaseStructure'),variables('vStringFileStructure')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Update to failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[fv_insert_Update_Tracking]",
								"storedProcedureParameters": {
									"pBatchid": {
										"value": {
											"value": "@pipeline().parameters.pBHID",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"pFileName": {
										"value": {
											"value": "@pipeline().parameters.pInvokedFileName",
											"type": "Expression"
										},
										"type": "String"
									},
									"pReason": {
										"value": "Improper column sequence",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_light",
								"type": "LinkedServiceReference"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "true",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pInvokedFileStructure": {
				"type": "array"
			},
			"pInvokedFileColCount": {
				"type": "int",
				"defaultValue": 4
			},
			"pInvokedFileName": {
				"type": "string",
				"defaultValue": "dec"
			},
			"pDatabaseStructure": {
				"type": "array"
			},
			"pBHID": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"vFileStructure": {
				"type": "Array"
			},
			"vDatabaseStructure": {
				"type": "Array"
			},
			"vStringFileStructure": {
				"type": "String"
			},
			"vStringDatabaseStructure": {
				"type": "String"
			}
		},
		"annotations": []
	}
}