pipeline/SendGridPipeline.json
{
	"name": "SendGridPipeline",
	"properties": {
		"activities": [
			{
				"name": "FailProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[fv_filename_validation]"
				},
				"linkedServiceName": {
					"referenceName": "ls_light",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Call ADF notification LA",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "FailProcedure",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-20.eastus.logic.azure.com:443/workflows/fc7f861488014a89a402f50d11b9bbf6/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=VgWjJS33LL1XA90iE5ARF7GoEdlNxsOBIYcXt0-nkl4",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n    \"DataFactoryName\":\n        \"@{pipeline().DataFactory}\",\n    \"PipelineName\":\n        \"@{pipeline().Pipeline}\",\n    \"ErrorMessage\":\n        \"@{activity('FailProcedure').error.message}\",\n    \"EmailTo\":\n        \"amardeep.singh@kantar.com\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}