pipeline/stl_copy_new_complex.json
{
	"name": "stl_copy_new_complex",
	"properties": {
		"description": "transfer data from srouce to adls",
		"activities": [
			{
				"name": "get_last_max_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_last_max_dateeee]",
						"storedProcedureParameters": {
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ptable_name",
									"type": "Expression"
								}
							},
							"abc": {
								"type": "Byte[]",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get_source_max_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_last_max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_inr_col",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "get_dest_Container",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.ptable_name} where @{activity('get_inr_col').output.firstRow.a} > \n'@{activity('get_last_max_date').output.firstRow.a}' and \n@{activity('get_inr_col').output.firstRow.a}<='@{activity('get_source_max_lookup').output.firstRow.a}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_lightstorage",
						"type": "DatasetReference",
						"parameters": {
							"pfilename": {
								"value": "@concat(pipeline().parameters.ptable_name,'_',utcnow(),'.txt')",
								"type": "Expression"
							},
							"pContainerName": {
								"value": "@{activity('get_dest_Container').output.firstRow.a}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "get_source_max_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(modified_date) as a from @{pipeline().parameters.ptable_name}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "upsert_pull_Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[upsert_Pull_Master]",
					"storedProcedureParameters": {
						"max_date": {
							"value": {
								"value": "@activity('get_source_max_lookup').output.firstRow.a",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": {
								"value": "@pipeline().parameters.ptable_name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_light",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "get_inr_col",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_conf_value]",
						"storedProcedureParameters": {
							"conf_type": {
								"type": "String",
								"value": "incr_col_name"
							},
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ptable_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "get_dest_Container",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[get_conf_value]",
						"storedProcedureParameters": {
							"conf_type": {
								"type": "String",
								"value": "dest_container"
							},
							"table_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.ptable_name",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_light_Pull_Master",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ptable_name": {
				"type": "string",
				"defaultValue": "Source_Tbl"
			}
		},
		"variables": {
			"vget_last_max": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}