pipeline/temp.json
{
	"name": "temp",
	"properties": {
		"activities": [
			{
				"name": "ForEach12",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.arrayparam",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "appendedarrayvariable",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "debugarray",
					"value": {
						"value": "@variables('appendedarrayvariable')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"arrayparam": {
				"type": "array",
				"defaultValue": [
					{
						"name": "1"
					},
					{
						"name": "2"
					},
					{
						"name": "3"
					}
				]
			}
		},
		"variables": {
			"appendedarrayvariable": {
				"type": "Array"
			},
			"debugarray": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}